.container {
}

.card {
    margin: 1%;
    width: 48%;
    display: inline-block;
}

.header_title {
    font-size: 30px;
    font-weight: bold;
}

.recommendation_text {
    color: rgb(0, 188, 212);
    font-size: 30px;
    font-weight: bold;
}